## 1. fork https://github.com/run-time/four-underscore to your own GitHub account
## 2. create a new PRIVATE repo called "____" and publish the contents of your fork to it
## 3. clone your private repo to your home directory "~/____"
## 4. create a file called "~/.zshrc" containing "source ~/____/.zshrc"
## 5. create an .env file with the following variables and run `npm run setup`

GIT_REPO=____
GIT_USER=your-user-name
GIT_UPDATE_HOURS=1
